form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {
  display: block;
}

.loginContainer {
  min-height: 100vh;
  width: 100vw;

  background-image: url("../../assets/background-login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.logo {
  display: block;
  margin: 0 auto 0rem auto;
  max-width: 400px;
  height: auto;
}

.textBox,
select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.send_button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send_button:hover {
  background-color: #45a049;
}

.forgotPassword {
  text-align: right;
  margin-top: -5px;
  margin-bottom: 15px;
  font-size: 0.85rem;
}

.registerLink {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

.linkText,
.linkBold {
  color: #4caf50;
  text-decoration: none;
  transition: color 0.2s;
}

.linkBold {
  font-weight: bold;
}

.linkText:hover,
.linkBold:hover {
  color: #45a049;
  text-decoration: underline;
}
